/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body.loaded {
  overflow: visible;
}

body.nav-active {
  overflow: hidden;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.nav-container {
  background-color: #797979;
  padding-block: 0.5rem;
  width: 95%;

}

.title-sm {
  font-weight: 400;
  font-size: 1.2rem;
}

@media (min-width: 720px) {

  .title-sm {
    font-size: 1.2rem;
  }
}


.text-center {
  text-align: center;
}

/*-----------------------------------*\
  #nav-header
\*-----------------------------------*/

.nav-header .btn {
  display: none;
}

.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: #797979;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 68%);
  z-index: 10;
  margin-bottom: 20px;
  position: fixed;

}

.nav-header.active {
  /* background-color: #f5f5f5; */
  /* position: fixed; */
  /* box-shadow: 0 10px 40px hsla(0, 0%, 0%, 0.06); */

  /* animation: headerActive 0.5s ease forwards; */

}

button {
  all: unset;
}

@keyframes nav-headerActive {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.nav-header .nav-container,
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin: auto;
}

.nav-open-btn,
.nav-close-btn {
  font-size: 32px;
}

.nav-logo {
  cursor: pointer;
  font-size: 1.4rem;
  font-family: "Lora", serif;
  font-weight: 400;
}

@media (min-width: 720px) {
  .nav-logo {
    font-size: 2rem;

  }
}

.navbar {
  position: fixed;
  top: 0;
  left: -320px;
  max-width: 320px;
  width: 100%;
  background-color: #797979;
  height: 100vh;
  padding: 40px 16px;
  z-index: 2;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  visibility: hidden;
}

.navbar.active {
  transition: 0.5s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  visibility: visible;
  transform: translateX(320px);
}

.navbar-top {
  margin-block-end: 34px;
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 35px;
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-link {
  padding-block: 8px;
  transition: 0.25s ease;
}

.navbar-link:is(:hover, :focus-visible) {
  color: hsl(224, 53%, 10%);
}

.active-link {

  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
}

.overlay.active {
  opacity: 0.6;
  visibility: visible;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

[class*="icon-"] {
  background-repeat: no-repeat;
  display: inline-block;
  padding: 1rem;
  background-position: center center;
  background-size: 1.5rem;
  background-color: #797979;
  border-radius: 100px;
}

@media (min-width: 575px) {
  [class*="icon-"] {
    padding: 1.5rem;
    background-color: transparent;
    background-size: 2rem;

  }
}

.icon-insta {
  background-image: url("/photography/Images/Social-Icons/icons8-instagram-32.png");
}

.icon-insta:hover {
  background-image: url("/photography/Images/Social-Icons/icons8-instagram-32-2.png");
}

.icon-behance {
  background-image: url("/photography/Images/Social-Icons/icons8-behance-32.png");
}

.icon-behance:hover {
  background-image: url("/photography/Images/Social-Icons/icons8-behance-32-2.png");
}

.icon-vimeo {
  background-image: url("/photography/Images/Social-Icons/icons8-vimeo-32.png");
}

.icon-vimeo:hover {
  background-image: url("/photography/Images/Social-Icons/icons8-vimeo-32\ \(1\).png");
}

.icon-whatsapp {
  background-image: url("/photography/Images/Social-Icons/icons8-whatsapp-32.png");
}

.icon-whatsapp:hover {
  background-image: url("/photography/Images/Social-Icons/icons8-whatsapp-32-2.png");
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .nav-container {
    /* max-width: 640px; */
    width: 95%;
    /* margin-inline: auto; */

  }



  /**
 * responsive for large than 992px screen
 */

  @media (min-width: 992px) {

    /**
   * nav-header
   */

    .nav-open-btn,
    .overlay,
    .navbar-top {
      display: none;
    }

    .navbar,
    .navbar.active {
      all: unset;
      display: block;
    }

    .navbar-list {
      display: flex;
      gap: 8px;
    }

    .navbar-item:not(:last-child) {
      border-block-end: none;
    }

    .navbar-link {
      padding: 8px 16px;
    }

    .nav-header .btn {
      display: block;
      box-shadow: none;
    }

  }

  /* responsive for large than 1200px screen */


  @media (min-width: 1200px) {

    .nav-container {
      max-width: 1920px;
      width: 95%;
    }
  }
}